.DS_Store
.idea

.ddev/*
!.ddev/config.yaml
!.ddev/docker-compose.environment.yaml

/public/index.php
/public/typo3temp
/public/typo3conf/PackageStates.php
/public/typo3conf/ENABLE_INSTALL_TOOL

/var/*
/vendor/*
