parameters:
	level: 3
	bootstrapFiles:
		- vendor/autoload.php
	scanDirectories:
		- public/typo3conf/ext/slub_profile_account
		- public/typo3conf/ext/slub_profile_booked
		- public/typo3conf/ext/slub_profile_bookmarks
		- public/typo3conf/ext/slub_profile_events
		- public/typo3conf/ext/slub_profile_messages
		- public/typo3conf/ext/slub_profile_service
	paths:
		- public/typo3conf/ext/slub_profile_account
		- public/typo3conf/ext/slub_profile_booked
		- public/typo3conf/ext/slub_profile_bookmarks
		- public/typo3conf/ext/slub_profile_events
		- public/typo3conf/ext/slub_profile_messages
		- public/typo3conf/ext/slub_profile_service
	ignoreErrors:
		- '#Call to an undefined method Psr\\Http\\Message\\RequestFactoryInterface::request\(\)#'
		- '#Call to an undefined method TYPO3\\CMS\\Extbase\\Mvc\\View\\ViewInterface::setVariablesToRender\(\)#'
