base: 'https://live.ddev-slub-profile-service.ddev.site'
baseVariants:
  -
    base: 'https://staging.ddev-slub-profile-service.ddev.site'
    condition: 'applicationContext == "Production/Staging"'
  -
    base: 'https://ddev-slub-profile-service.ddev.site'
    condition: 'applicationContext == "Development"'
languages:
  -
    title: Deutsch
    enabled: true
    languageId: 0
    base: /
    typo3Language: de
    locale: de_DE.UTF-8
    iso-639-1: de
    navigationTitle: Deutsch
    hreflang: de-DE
    direction: ltr
    flag: de
    websiteTitle: ''
  -
    title: English
    enabled: true
    base: /en/
    typo3Language: default
    locale: en_GB
    iso-639-1: en
    websiteTitle: English
    navigationTitle: ''
    hreflang: en-GB
    direction: ltr
    fallbackType: strict
    fallbacks: ''
    flag: en-us-gb
    languageId: 1
rootPageId: 1
websiteTitle: ''
imports:
  -
    resource: 'EXT:slub_profile_account/Configuration/Routes/Default.yaml'
  -
    resource: 'EXT:slub_profile_bookmarks/Configuration/Routes/Default.yaml'
  -
    resource: 'EXT:slub_profile_events/Configuration/Routes/Default.yaml'
  -
    resource: 'EXT:slub_profile_messages/Configuration/Routes/Default.yaml'
